@import './variables.css';
@import './module/layout.css';
@import './module/header.css';
@import './module/nav.css';
@import './module/list.css';
@import './module/utils.css';
@import './module/banner.css';
@import './module/text.css';
@import './module/animation.css';
@import './module/button.css';
@import './module/cards.css';
@import './module/menu.css';
@import'./module/equipos.css';
@import'./module/footer.css';

.body{
    background-color: var(--primary-theme-color);
    margin: 0;
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
}